{% extends 'main.html' %}
{% block content %}
<style>
    body{
        margin: 0px;
        padding: 0px;
    }
    .menus{
        list-style: none;
        padding: 0px;
        text-align: center;
    }
    .menus li{
        margin: 1vh;
    }
    .menus li input{
        width: 30vh;
        border: none;
        padding: 10px 10px;
        font-size: 2vh;
        background-color: rgb(250, 240, 255);
        border-radius: 10px;
    }
    .menus li .submit_me{
        background-color: blueviolet;
        color: white;
        width: 32vh;
    }
    .register{
        padding: 8vh 0vh;
    }

</style>



<div class="register">
    <form action="" method="POST">
        {% csrf_token %}
      <ul class="menus">
          <h1>Register Here</h1>
          <li>  <input class="inputs"
              type="text"
              placeholder="Set your mlangles username"
              name="username"
              id=""
            /></li>
            <li><input class="inputs" type="text" placeholder="Firstname" name="fname" id="" /></li>
            <li><input class="inputs"
              type="text"
              placeholder="Lastname"
              name="lname"
              id=""
            /></li>
            <li><input class="inputs" type="text" placeholder="Organization name" name="org" id="" /></li>
            <li>
              <input class="inputs"
              type="email"
              placeholder="Organization Email"
              name="org_mail"
              id=""
            />
            </li>
            <li>
              <input class="inputs"
              type="text"
              placeholder="Mobile Number"
              name="mobile"
              id=""
            />
            </li>
            <li>
              <input class="inputs" type="password" placeholder="Password" name="pass_one" id="" />
            </li>
            <li>
              <input class="inputs"
              type="password"
              placeholder="Conform password"
              name="pass_two"
              id=""
            />
            </li>
            <li><input class="submit_me" type="submit" value="Submit" name="" id="" /></li>
      </ul>
      
        
        
</div>




</form>
<div>
  {% for message in messages %}
  <h5>{{message}}</h5>
  {% endfor %}
</div>
{% endblock content %}
