<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section>
        <div>
            <div><span class="logo">MeNU</span></div>
        </div>
        <div>
            <ul>
                <li><a href="/connect">CONNECT</a></li>
            </ul>
        </div><hr>
    </section>
</body>
</html>